.widget {
    border-radius: 0rem;
    background-color: inherit;


    * {
        text-shadow: none !important;
    }

    .button {
        background-color: inherit;
        box-shadow: none;
        color: inherit !important;
        padding-block: none;
        text-align: center;
        text-transform: uppercase;
    }

    .Widget__WidgetWrapper-sc-f3lvcb-0 {
        width: -webkit-fill-available;
    }
}

.token-page {
    display: flex;
    flex-wrap: wrap;


    .buy-and-swap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

    }

    .buy-grid {
        display: grid;
        row-gap: 1vh;
        width: 100%;

    }

    @media screen and (min-width: 1000px) {
        .buy-grid {
            width: 50%;
            padding: 1%;

        }

        .widget {
            width: 50%;
            padding: 1%;
        }


    }



    .buy-grid-item {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        place-items: center;

        .icon {
            padding-block: 1vh;
            padding-inline: 1vw;
            width: 40vw;
        }

    }

    .token-box {
        width: 100%;
    }

    .frame {
        display: grid;
        box-shadow: inset 1px 1px 0px 1px white, inset 0 0 0 1px #1f2223, 1px 1px 0 0px white;
    }

    .padding {
        .frameBody {
            padding-block: 2vh;
            padding-inline: 3vw;
        }
    }

    .terminalBody {
        overflow-x: hidden;
    }

    .info {
        .frameBody {
            font-size: min(7vw, 25px);
            padding-inline: 3vw;
        }
    }



    .frameBody {
        text-align: center;
        overflow-wrap: break-word;
        width: 100%;
    }

    .vote {
        text-align: left;
    }

    .button {
        height: -moz-fit-content;
        height: fit-content;
        white-space: break-spaces;
        width: fit-content;
    }

    ul {
        text-align: left;
    }


    h1 {
        position: relative;
        font-size: min(8vw, 40px);
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 5px 5px 5px #9d00ff;
        color: white;
        user-select: none;
        white-space: nowrap;
        animation: shake 20s steps(2, start) infinite;
    }


    .logo {
        width: min(60vw, 400px);
    }


    @keyframes shake {

        5%,
        15%,
        25%,
        35%,
        55%,
        65%,
        75%,
        95% {
            transform: translateY(0.018em) rotate(0deg);
        }

        10%,
        30%,
        40%,
        50%,
        70%,
        80%,
        90% {
            transform: translateY(-0.018em) rotate(0deg);
        }

        20%,
        60% {
            transform: translate(-0.018em, 0.018em) rotate(0deg);
        }

        45%,
        85% {
            transform: translate(0.018em, -0.018em) rotate(0deg);
        }

        100% {
            transform: translate(0) rotate(-0.5deg);
        }
    }






    path {}

    .terminalBody {
        font-size: min(5vw, 25px);

        .button {
            background-color: var(--alt);
            box-shadow: inset 1px 1px 0px 1px #ccd2d2, inset 0 0 0 1px #1f2223, 1px 1px 0 0px #070809;
            cursor: pointer;
            /* width: 100%; */
            padding-block: 2vh;
            padding-inline: 20vw;
            font-size: min(8vw, 50px);
            -webkit-animation: color-change 3s infinite;
            animation: color-change 3s infinite;
        }

        @keyframes color-change {
            0% {
                color: red;
            }

            25% {
                color: pink;
            }

            50% {
                color: blue;
            }

            75% {
                color: yellow;
            }

            100% {
                color: green;
            }
        }
    }
}

@media (min-width: 1000px) {
    .widget {
        width: 650px;
    }

    // .token-page {
    //     grid-template-columns: 1fr 1fr;
    // }

    // .token-box {
    //     width: 50% !important;
    //     margin-inline: auto;
    // }
}